[Unit]
Description=Rapid Headless Timer Service
After=hostapd.service
Wants=hostapd.service

[Service]
ExecStart=/usr/bin/rapid_headless --gpsd
Environment="ROCKET_ADDRESS=10.0.0.1"
Environment="RUST_LOG=info"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
