[Unit]
Description=Rapid Headless Timer Service
After=network.target

[Service]
ExecStart=/usr/bin/rapid_headless --gpsd
Environment="ROCKET_ADDRESS=10.0.0.1"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
